.slick-slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1;
    z-index: 10;
}
.slick-dots{
    position: inherit;
    z-index: 10;
}
.slick-dots li button:before{
    font-size: 15px;
    position: none;
}
.slick-dots li::after{
    outline: none;
}
.slick-dots li:checked{
    border: none;
}