@media screen and (max-width: 1100px){
    .row2{
        background-image: url('../../images/tacoTruckSide.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}