.slider {
    width: 90%;
    height: 80%;
    overflow: hidden;
}
.slick-dots {
    top: 25px;
}
@media screen and (max-width: 768px){
    .slick-dots:nth-child(1) {
        bottom: 50px;
        background-color: rgba(255, 255, 255, .5);
        padding: 5px 0;
    }
}
.slick-dots li::after {
    outline: none;
    position: relative;
}
.slick-dots li:checked{
    border: none;
}
.slick-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots li{
    position: relative;
}